/* Common app styles */
a { text-decoration: none; }

.App {
  min-height:100vh;
  text-align: center;
  font-family: sans-serif;
  color: #333;
  background-color: #fff;
}
.dark {
  background-color:#333;
  color:#eee;
}

/* Header */
.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

  background-color:#eee;
}
.dark .appHeader {
  background-color:#222;
}

/* Main menu */
nav.main-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav.main-menu > a {
  transition: 0.3s;
  padding:10px;
  cursor: pointer;
  color:#333;
}
.dark nav.main-menu > a {
  color:#eee;
}

nav.main-menu > a:hover {
  color: #900;
}
.dark nav.main-menu > a:hover {
  color: #f90;
}

nav.main-menu > a.active {
  font-weight:bold;
  color:#300;
}
.dark nav.main-menu > a.active {
  color:#fff;
}

.logIn {
  display:flex;
  align-items: center;
  padding: 10px;
}
.logIn > a {
  transition: 0.3s;
  font-weight: bold;
  font-size: 12px;
  color:#000;
}
.logIn > a:hover {
  color:rgb(55, 78, 192);
}
.dark .logIn > a { color:#fff; }
.dark .logIn > a:hover { color:#f90; }

/* Custom Form styles */
.app-form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 20px 10px;
  margin: 10px;

  background-color: #eee;
  border-left: 8px solid rgb(77, 182, 123);
}
.app-form > label {
  display: flex;
  padding-right: 10px;
  justify-content: right;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  
  color: #333;
}
.dark .app-form {
  background-color: #444;
  color:#fff;
}
.dark .app-form > label {
  color: #fff;
}
.dark .app-form > input {
  color: #fff;
  background-color: #222;
  border: none;
}

/* Details */
.code-area {
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eee;
  color:#333;
  font-size: 10px;
  letter-spacing: 0.14rem;
  border-left: 6px solid #ca0;
}
.dark .code-area {
  background-color: #111;
  color:#fff;
}

/* Common animations details */
.trans-03 {
  transition: 0.3s;
}

/* Module for develop */
.moduleBlock {
  margin: 15px;
  border: 4px solid #900;
  padding: 15px;

  background-color:#333;
  color: #090;
}
.dark .moduleBlock {
  background-color:#eee;
  color: #050;
}